<a
  routerLink="/clients/new"
  class="uk-button uk-button-default uk-margin-small-right"
  type="button"
  uk-toggle="target: #modal-create"
>
  Add new client
</a>

<table class="uk-table uk-table-divider">
  <caption>
    Client List
  </caption>
  <thead>
    <tr>
      <th>N°</th>
      <th>Name</th>
      <th>Address</th>
      <th>State</th>
      <th>Options</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td colspan="5">
        <app-loading *ngIf="loading"></app-loading>
        <app-no-data *ngIf="!loading && clients.length === 0"></app-no-data>
      </td>
    </tr>
    <tr *ngFor="let client of clients; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ client.name }}</td>
      <td>{{ client.address }}</td>
      <td>
        <span *ngIf="client.isActive" class="uk-badge">Active</span>
        <span *ngIf="!client.isActive" class="uk-badge uk-background-secondary"
          >Inactive</span
        >
      </td>
      <td class="uk-flex">
        <button
          class="uk-button uk-button-secondary uk-margin-right"
          [routerLink]="['/clients', client.id]"
        >
          <i class="fas fa-user-edit"></i>
        </button>
        <button
          (click)="deleteClient(client, i)"
          class="uk-button uk-button-danger"
        >
          <i class="fas fa-user-slash"></i>
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="3">Total clients</td>
      <td>{{ clients.length }}</td>
    </tr>
  </tfoot>
</table>
