<h2 class="uk-modal-title">New client: {{ client.name }}</h2>
<app-loading *ngIf="loading"></app-loading>
<form
  *ngIf="!loading"
  class="uk-form-horizontal uk-margin-large"
  #form="ngForm"
  (ngSubmit)="saveInfo(form)"
>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Name</label>
    <div class="uk-form-controls">
      <input
        class="uk-input"
        id="form-horizontal-text"
        type="text"
        placeholder="Your name"
        name="name"
        required
        autofocus="true"
        [(ngModel)]="client.name"
      />
    </div>
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Address</label>
    <div class="uk-form-controls">
      <input
        class="uk-input"
        id="form-horizontal-text"
        type="text"
        placeholder="Your address"
        name="address"
        [(ngModel)]="client.address"
      />
    </div>
  </div>
  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-text">Birthday</label>
    <div class="uk-form-controls">
      <input
        class="uk-input"
        id="form-horizontal-text"
        type="date"
        name="birthday"
        [(ngModel)]="client.birthday"
      />
    </div>
  </div>

  <div class="uk-margin">
    <label class="uk-form-label" for="form-horizontal-select">Select</label>
    <div class="uk-form-controls">
      <button
        *ngIf="client.isActive"
        (click)="client.isActive = false"
        class="uk-button uk-button-secondary"
      >
        Active
      </button>
      <button
        *ngIf="!client.isActive"
        (click)="client.isActive = true"
        class="uk-button uk-button-danger"
      >
        Inactive
      </button>
    </div>
  </div>
  <p class="uk-text-right">
    <button
      routerLink="clients"
      class="uk-button uk-button-default uk-modal-close uk-margin-right"
      type="button"
    >
      Back
    </button>
    <button class="uk-button uk-button-primary" type="submit">Save</button>
  </p>
</form>
